<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.btf" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_btf_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="org.litepal.LitePalApplication"
        >
        <!--android:roundIcon="@mipmap/ic_launcher_round"-->
        <!--android:windowDrawsSystemBarBackgrounds="false"-->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.btf.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
             <meta-data
             android:name="android.support.FILE_PROVIDER_PATHS"
             android:resource="@xml/file_paths"/>
        </provider>

        <service
            android:name=".Util.download.DownloadService"
            android:enabled="true"
            android:exported="true">
        </service>

        <activity
            android:name=".MainActivity"
            android:label="蝴蝶识别"
            android:theme="@style/AppTheme"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|navigation"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!--android:launchMode="singleTop"-->
        <activity
            android:name=".ImageActivity"
            android:label=""
            android:parentActivityName=".MainActivity"
            android:theme="@style/ImageActivityTheme"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|navigation"
            android:screenOrientation="portrait"
            >

            <!--android:theme="@style/ImageActivityTheme"-->
            >
        </activity>
        <activity
            android:name=".recycleView.ButterflyActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme"
            >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".recycleView.InfoActivity"
            android:label=""
            android:theme="@style/InfoActivityTheme">
        </activity>
    </application>

</manifest>